body {
    background-color:#E0E0E0;
}

#container, #header, #footer {
    width:800px;
    background-color:#ffffff;
    margin:auto;
}

#header {
    background-image:linear-gradient(#E0E0E0, #ffffff);
    margin:auto;
    padding:30px;
    border-bottom-width:2px;
    border-bottom-style:solid;
    border-bottom-color:#d0d0d0;
}

#container {
    padding:30px;
    margin:auto;
}

#footer {
    padding:30px;
    margin:auto;
    background-image:linear-gradient(#ffffff, #E0E0E0);
    border-top-width:2px;
    border-top-style:solid;
    border-top-color:#d0d0d0;
}

h1.title {
    font-family:serif;
    font-size: 30px;
    color:#6ba5ef;
}

h2 {
    color: #6ba5ef;
    font-size: 18px;
}

table {
    border:#eeeeee 1px solid;
    margin:auto;
}

td {
    border:#eeeeee 1px solid;
    text-align:center;
}

td.success {
    color: #20a020;
}

td.fail {
    color:#a02020;
}
