{% extends "base.html" %}
{% block title %}Swindle - Dashboard{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Sign out</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="col-md-3">
        <h2>Profile :</h2>
        <p>Username : {{ user.username }}</p>
        <p>First name : {{ user.first_name }}</p>
        <p>Last name : {{ user.last_name }}</p>
        <p>Email address : {{ user.email }}</p>
        <a class="btn btn-success" href="/refresh">Refresh all services</a>
    </div>
    <div class="col-md-9">
        <h2>Results :</h2>
        <table class="table table-hover">
            <tr>
                <th>Website</th>
                <th>Could sign in?</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    Swindle
                </td>
                {% if user.authtests.swindle_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.swindle_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/swindle">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="https://assets-cdn.github.com/favicon.ico">
                    Github
                </td>
                {% if user.authtests.github_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.github_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/github">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="http://d33v4339jhl8k0.cloudfront.net/docs/assets/545804d8e4b09c5ca72525ce/images/5481e04ee4b02581e496de7a/favicon.ico">
                    Trello
                </td>
                {% if user.authtests.trello_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.trello_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/trello">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico">
                    Linkedin
                </td>
                {% if user.authtests.linkedin_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.linkedin_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/linkedin">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="https://fbstatic-a.akamaihd.net/rsrc.php/yV/r/hzMapiNYYpW.ico">
                    Facebook
                </td>
                {% if user.authtests.facebook_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.facebook_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/facebook">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="http://abs.twimg.com/favicons/favicon.ico">
                    Twitter
                </td>
                {% if user.authtests.twitter_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.twitter_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/twitter">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="http://www.google.com/favicon.ico">
                    Google
                </td>
                {% if user.authtests.google_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.google_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/google">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="https://cf.dropboxstatic.com/static/images/favicon-vflk5FiAC.ico">
                    Dropbox
                </td>
                {% if user.authtests.dropbox_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.dropbox_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/dropbox">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="https://s.yimg.com/rz/l/favicon.ico">
                    Yahoo
                </td>
                {% if user.authtests.yahoo_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.yahoo_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/yahoo">Refresh</a></td>
            </tr>
            <tr>
                <td>
                    <img src="https://auth.gfx.ms/16.000.25666.00/favicon.ico?v=2">
                    Live
                </td>
                {% if user.authtests.live_auth %}
                    <td class="text-success">
                {% else %}
                    <td class="text-danger">
                {% endif %}
                {{ user.authtests.live_auth }}</td>
                <td><a class="btn btn-success" href="/refresh/live">Refresh</a></td>
            </tr>
        </table>
        <p>We're not doing anything with this information. It's just for you to consult (and think about).</p>
    </div>
{% endblock %}