{% extends "base.html" %}
{% block title %}Swindle - Dashboard{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Déconnexion</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="col-md-3">
        <h2>Profile :</h2>
        <p>Utilisateur : {{ user.username }}</p>
        <p>Prénom : {{ user.first_name }}</p>
        <p>Nom : {{ user.last_name }}</p>
        <p>Adresse email : {{ user.email }}</p>
        <a class="btn btn-success" href="/refresh">Refresh your profile</a>
    </div>
    <div class="col-md-9">
        <h2>Résultats :</h2>
        <table class="table table-hover">
            <tr>
                <th>Nom du site</th>
                <th>Résultat</th>
            </tr>
            <tr>
                <td>Swindle</td>
                {% if user.authtests.swindle_auth %}
                    <td class="text-success">{{ user.authtests.swindle_auth }}</td>
                {% else %}
                    <td class="text-danger">{{ user.authtests.swindle_auth }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Github</td>
                {% if user.authtests.github_auth %}
                    <td class="text-success">{{ user.authtests.github_auth }}</td>
                {% else %}
                    <td class="text-danger">{{ user.authtests.github_auth }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Trello</td>
                {% if user.authtests.trello_auth %}
                    <td class="text-success">{{ user.authtests.trello_auth }}</td>
                {% else %}
                    <td class="text-danger">{{ user.authtests.trello_auth }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Linkedin</td>
                {% if user.authtests.linkedin_auth %}
                    <td class="text-success">{{ user.authtests.linkedin_auth }}</td>
                {% else %}
                    <td class="text-danger">{{ user.authtests.linkedin_auth }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Facebook</td>
                {% if user.authtests.facebook_auth %}
                    <td class="text-success">{{ user.authtests.facebook_auth }}</td>
                {% else %}
                    <td class="text-danger">{{ user.authtests.facebook_auth }}</td>
                {% endif %}
            </tr>
        </table>
        <p>Toutes ces informations sont là uniquement pour voir si le choix de mot de passe était vraiment raisonnable à l'inscription.</p>
        <p>Nous n'allons rien faire avec ces informations (que nous ne consultons d'ailleurs pas).</p>
    </div>
{% endblock %}